/*----------------------*\
|                        |
|   styles.css           |
|   Par Adrien Chardon   |
|                        |
\*----------------------*/

table
{
	border-collapse: collapse;
}

td, th
{
	border: 1px solid black;
	min-width: 75px;
	overflow: hidden; /* doesnt work */
	padding: 5px;
}

table .nb
{
	text-align: right;
}

table .ratio
{
	text-align: center;
	/*border-right: 2px double black;*/
}

/*========*/

.colorRed
{
	color: rgb(192, 0, 0);
}

.colorGreen
{
	color: rgb(0, 192, 0);
}




/*=== STYLE GENERAL ===*/
body
{
	width: 1000px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;

	border: 3px solid rgb(192,192,192);
	border-radius: 10px;
}

header, footer
{
	text-align: center;
	padding: 10px;
}

#block_page
{
	border-top: 3px solid rgb(192,192,192);
	border-bottom: 3px solid rgb(192,192,192);
	padding: 20px;
}

/*=== STYLE MENU NAV ===*/
.menu
{
	display: inline-block;
}

.menu li
{
	display: inline-block;
	margin: 10px;
}

/*=== STYLE LIENS ===*/
a:visited
{
	text-decoration: underline;
	color: black;
	background-color: white;
}

a
{
	text-decoration: underline;
	color: black;
}

a:hover
{
	text-decoration: underline;
	color: white;
	background-color: black;
}

/*=== STYLE DIVERS ===*/
.barre
{
	text-decoration: line-through;
}

.center
{
	text-align: center;
}

h1, h2
{
	text-decoration: underline;
}

h1
{
	text-align: center;
}

