/******************************************************************************* 
*
*   File : forum.css
*
*   Author : Adrien Chardon
*   Date :   2014-01-10 17:23:33
*
*   Last Modified by :   Adrien Chardon
*   Last Modified time : 2014-01-12 13:58:02
*
*******************************************************************************/

/*=== page (offset) links ===*/
.pagesBar
{
	text-align: center;
	padding: 10px;
}

.pagesBar a, .pagesBar span
{
	margin: 5px;
	padding: 5px;
}

.pagesBar span
{
	font-size: small;
}

.actual
{
	background-color: rgb(150, 150, 255);
}

/*=== ===*/
.thread table
{
	border-collapse: collapse;
}

.thread td
{
	padding: 10px;
}

.thread
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.time
{
	font-size: small;
}

.thread .time_activity, .thread .time_created
{
	text-align: right;
	white-space : nowrap;
}

.thread .title
{
	width: 100%;
	font-weight: bold;
}

.thread .title, .thread .time_activity
{
	background-color: rgb(128,128,255);
}

.thread .auteur, .thread .time_created
{
	background-color: rgb(192,192,255);
}

.thread .title, .thread .time_activity
{
	border-bottom: 1px solid black;
}

/* radius border */
.thread .title
{
    border-radius: 10px 0 0 0;
}
.thread .time_activity
{
    border-radius: 0 10px 0 0;
}
.thread .time_created
{
    border-radius: 0 0 10px 0;
}
.thread .auteur
{
    border-radius: 0 0 0 10px;
}

